.datepicker-icon::before {
  content: '📅';
  font-size: 24px;
  position: absolute;
  right: 64px;
  top: 42px;
  cursor: pointer;
      
}
.datepicker {
position: absolute;
opacity: 0;
cursor: pointer;
height: 0;
width: 0;
}
